# Pandas 선언하기
아래 명령어는 DataFrame을 사용하기 위해서 항상 사용해야 하는 Pandas라는 라이브러리에요. 맨 처음 선언하고 시작합시다.

In [3]:
import pandas as pd

# DataFrame 익히기

엑셀의 시트와 유사한 개념입니다.

In [2]:
ls

1.노트북의 기초초초!.ipynb
2.DataFrame이란 무엇인가 (카바조).ipynb
2.DataFrame이란 무엇인가 (펫미업).ipynb
3.데이터 수정하기.ipynb
4.데이터 시각화.ipynb
dano.ai 데이터 분석 워크샵 템플릿.ipynb
data/

## CSV 화일 불러오기
csv 화일을 읽어서 dataFrame에 저장합니다.

    pd.read_csv(화일위치)
    
header (컬럼이름)이 한줄 있는 경우 아래와 같이 사용합니다.

    pd.read_csv(화일위치, header=1)

In [86]:
df = pd.read_csv('data/펫미업 - 6개월치 예약목록 - 20181029.csv', header=1)

In [87]:
df.head()

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동거리(Km),이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점
0,RSRV0015304,2018-03-27 19:35,2018-03-28,09:00,09:48,전화,NaN,완료,1.0,카드,...,30.8,48.0,서울 중구 예장동 산 5-89,2018-03-28 09:10,서울 노원구 중계동 506-1,2018-03-28 11:27,재이용.,NaN,NaN,NaN
1,RSRV0015311,2018-03-28 09:16,2018-03-28,09:30,NaN,홈페이지,NaN,못함,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,바로 이용 원하심.,NaN,NaN,NaN
2,RSRV0015255,2018-03-26 13:20,2018-03-28,09:40,09:51,홈페이지,NaN,완료,1.0,현금,...,2.6,11.0,서울 관악구 신림동 255-320,2018-03-28 10:02,서울 관악구 신림동 217,2018-03-28 10:07,처음 이용하시는 고객.,NaN,NaN,NaN
3,RSRV0015032,2018-03-19 16:36,2018-03-28,10:00,11:06,전화,네이버,완료,0.0,계좌이체,...,4.8,66.0,NaN,NaN,NaN,NaN,애견 유치원 등하교 셔틀 운행입니다. 미터기 사용할 필요 없으며 요금 안 받으셔도 ...,NaN,NaN,NaN
4,RSRV0015034,2018-03-19 16:37,2018-03-28,10:00,11:01,전화,네이버,완료,0.0,계좌이체,...,3.8,61.0,NaN,NaN,NaN,NaN,애견 유치원 등하교 셔틀 운행입니다. 미터기 사용할 필요 없으며 요금 안 받으셔도 ...,NaN,NaN,NaN

In [88]:
df.tail()

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동거리(Km),이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점
8770,RSRV0024466,2018-10-28 18:15,2018-10-28,19:40,19:52,모바일,NaN,완료,1.0,카드,...,1.7,16.0,서울 서초구 서초동 1309-1,2018-10-28 19:47,서울 강남구 역삼동 800-13,2018-10-28 19:52,재이용.,NaN,NaN,NaN
8771,RSRV0024468,2018-10-28 19:48,2018-10-28,20:50,21:14,카톡,NaN,완료,1.0,카드,...,9.2,33.0,서울 종로구 종로6가 78-2,2018-10-28 20:50,서울 강남구 청담동 77-69,2018-10-28 21:14,재이용.,NaN,NaN,NaN
8772,RSRV0024467,2018-10-28 19:48,2018-10-28,22:30,22:05,모바일,NaN,완료,1.0,카드,...,1.8,16.0,서울 강남구 역삼동 606-33,2018-10-28 21:54,서울 서초구 서초동 1309-1,2018-10-28 22:05,재이용. 왕복 19:40 /22:30,NaN,NaN,NaN
8773,RSRV0024298,2018-10-24 18:08,2018-10-28,22:40,23:34,모바일,NaN,완료,2.0,카드,...,11.9,36.0,서울 강서구 방화동 886,2018-10-28 22:54,경기 광명시 광명동 200-6,2018-10-28 23:34,재이용.,NaN,NaN,NaN
8774,RSRV0024425,2018-10-27 21:35,2018-10-28,23:30,NaN,모바일,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,뒷좌석 차량놀이방매트 설치,NaN,NaN,NaN

In [89]:
df.shape

(8775, 43)

In [90]:
df.columns

Index(['예약코드', '접수일자', '예약일자', '예약시간', '종료시간', '예약형태', '방문경로', '예약상태', '동승자수',
       '지불방식', '운행요금방식', '정산금액', '기본요금', '미터기요금', '반려동물추가요금', '세탁요금', '상품판매요금',
       '경유지요금', '기타요금', '할인요금', '사용정기권코드', '고객명', '고객ID', '고객형태', '고객등급',
       '고객연락처', '고객등록일자', '접수자', '운전자', '운전자연락처', '출발지', '도착지', '경유지',
       '이동거리(Km)', '이동시간(분)', '미터기시작위치', '미터기시작시간', '정산완료위치', '정산완료시간', '예약메모',
       '정산메모', '고객리뷰', '고객평점'],
      dtype='object')

In [9]:
print(df.columns.values)

['예약코드' '접수일자' '예약일자' '예약시간' '종료시간' '예약형태' '방문경로' '예약상태' '동승자수' '지불방식'
 '운행요금방식' '정산금액' '기본요금' '미터기요금' '반려동물추가요금' '세탁요금' '상품판매요금' '경유지요금' '기타요금'
 '할인요금' '사용정기권코드' '고객명' '고객ID' '고객형태' '고객등급' '고객연락처' '고객등록일자' '접수자' '운전자'
 '운전자연락처' '출발지' '도착지' '경유지' '이동거리(Km)' '이동시간(분)' '미터기시작위치' '미터기시작시간'
 '정산완료위치' '정산완료시간' '예약메모' '정산메모' '고객리뷰' '고객평점']

In [10]:
df[0:1]

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동거리(Km),이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점
0,RSRV0015304,2018-03-27 19:35,2018-03-28,09:00,09:48,전화,NaN,완료,1.0,카드,...,30.8,48.0,서울 중구 예장동 산 5-89,2018-03-28 09:10,서울 노원구 중계동 506-1,2018-03-28 11:27,재이용.,NaN,NaN,NaN

info() 메소드를 이용하면 DataFrame의 구조와 메모리 사용량을 확인할 수 있습니다.

    DataFrame.info()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8775 entries, 0 to 8774
Data columns (total 43 columns):
예약코드        8775 non-null object
접수일자        8775 non-null object
예약일자        8775 non-null object
예약시간        8772 non-null object
종료시간        6706 non-null object
예약형태        8770 non-null object
방문경로        3408 non-null object
예약상태        8775 non-null object
동승자수        8774 non-null float64
지불방식        5813 non-null object
운행요금방식      5813 non-null object
정산금액        5813 non-null float64
기본요금        5813 non-null float64
미터기요금       5813 non-null float64
반려동물추가요금    5813 non-null float64
세탁요금        5813 non-null float64
상품판매요금      5812 non-null float64
경유지요금       5813 non-null float64
기타요금        5794 non-null float64
할인요금        5794 non-null float64
사용정기권코드     259 non-null object
고객명         8775 non-null object
고객ID        3090 non-null object
고객형태        7490 non-null object
고객등급        7475 non-null object
고객연락처       8775 non-null object
고객등록일자      8754 non-null object
접수자         8774 non-null object
운전자         6283 non-null object
운전자연락처      6283 non-null object
출발지         8775 non-null object
도착지         8775 non-null object
경유지         8775 non-null object
이동거리(Km)    6706 non-null float64
이동시간(분)     6706 non-null float64
미터기시작위치     5412 non-null object
미터기시작시간     5430 non-null object
정산완료위치      5314 non-null object
정산완료시간      5326 non-null object
예약메모        8175 non-null object
정산메모        1006 non-null object
고객리뷰        49 non-null object
고객평점        97 non-null float64
dtypes: float64(13), object(30)
memory usage: 2.9+ MB

In [12]:
df['방문경로'][0]

nan

describe 메소드를 이용하면 숫자로 된 데이터에 대한 정보를 얻을 수 있습니다

    DataFrame.describe()

In [13]:
df.describe()

,동승자수,정산금액,기본요금,미터기요금,반려동물추가요금,세탁요금,상품판매요금,경유지요금,기타요금,할인요금,이동거리(Km),이동시간(분),고객평점
count,8774.000000,5813.000000,5813.000000,5813.000000,5813.000000,5813.000000,5812.000000,5813.000000,5794.000000,5794.000000,6706.000000,6706.000000,97.000000
mean,1.146797,25889.548598,7952.692242,17440.401858,23.929124,67.435059,0.688231,13.710649,565.148429,161.784605,14.376558,37.298986,4.783505
std,0.615811,18677.942514,229.451591,17361.645590,505.408031,1263.438803,37.097515,175.041663,6302.267468,1021.527404,17.663037,22.678959,0.581428
min,0.000000,0.000000,6000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.300000,4.000000,3.000000
25%,1.000000,15400.000000,8000.000000,7600.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.700000,21.000000,5.000000
50%,1.000000,20400.000000,8000.000000,12400.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.900000,32.000000,5.000000
75%,1.000000,30400.000000,8000.000000,22000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.100000,47.000000,5.000000
max,5.000000,340100.000000,10000.000000,300900.000000,15000.000000,50000.000000,2000.000000,5000.000000,164000.000000,41000.000000,306.200000,242.000000,5.000000

In [14]:
df['방문경로'].describe()

count     3408
unique       7
top        재방문
freq      2603
Name: 방문경로, dtype: object

## 컬럼 추가하기

In [31]:
df['정산금액'].describe()

count      5813.000000
mean      25889.548598
std       18677.942514
min           0.000000
25%       15400.000000
50%       20400.000000
75%       30400.000000
max      340100.000000
Name: 정산금액, dtype: float64

In [93]:
df['정산금액평균이상'] = df['정산금액'] > 25889.548598

In [94]:
df.columns

Index(['예약코드', '접수일자', '예약일자', '예약시간', '종료시간', '예약형태', '방문경로', '예약상태', '동승자수',
       '지불방식', '운행요금방식', '정산금액', '기본요금', '미터기요금', '반려동물추가요금', '세탁요금', '상품판매요금',
       '경유지요금', '기타요금', '할인요금', '사용정기권코드', '고객명', '고객ID', '고객형태', '고객등급',
       '고객연락처', '고객등록일자', '접수자', '운전자', '운전자연락처', '출발지', '도착지', '경유지',
       '이동거리(Km)', '이동시간(분)', '미터기시작위치', '미터기시작시간', '정산완료위치', '정산완료시간', '예약메모',
       '정산메모', '고객리뷰', '고객평점', '정산금액평균이상'],
      dtype='object')

In [97]:
df['정산금액평균이상'].sum() / df.shape[0] * 100

22.404558404558404

## 컬럼 삭제하기

In [17]:
df.columns

Index(['예약코드', '접수일자', '예약일자', '예약시간', '종료시간', '예약형태', '방문경로', '예약상태', '동승자수',
       '지불방식', '운행요금방식', '정산금액', '기본요금', '미터기요금', '반려동물추가요금', '세탁요금', '상품판매요금',
       '경유지요금', '기타요금', '할인요금', '사용정기권코드', '고객명', '고객ID', '고객형태', '고객등급',
       '고객연락처', '고객등록일자', '접수자', '운전자', '운전자연락처', '출발지', '도착지', '경유지',
       '이동거리(Km)', '이동시간(분)', '미터기시작위치', '미터기시작시간', '정산완료위치', '정산완료시간', '예약메모',
       '정산메모', '고객리뷰', '고객평점'],
      dtype='object')

In [36]:
df.drop(columns='고객명')

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
0,RSRV0015304,2018-03-27 19:35,2018-03-28,09:00,09:48,전화,NaN,완료,1.0,카드,...,48.0,서울 중구 예장동 산 5-89,2018-03-28 09:10,서울 노원구 중계동 506-1,2018-03-28 11:27,재이용.,NaN,NaN,NaN,True
1,RSRV0015311,2018-03-28 09:16,2018-03-28,09:30,NaN,홈페이지,NaN,못함,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,바로 이용 원하심.,NaN,NaN,NaN,False
2,RSRV0015255,2018-03-26 13:20,2018-03-28,09:40,09:51,홈페이지,NaN,완료,1.0,현금,...,11.0,서울 관악구 신림동 255-320,2018-03-28 10:02,서울 관악구 신림동 217,2018-03-28 10:07,처음 이용하시는 고객.,NaN,NaN,NaN,False
3,RSRV0015032,2018-03-19 16:36,2018-03-28,10:00,11:06,전화,네이버,완료,0.0,계좌이체,...,66.0,NaN,NaN,NaN,NaN,애견 유치원 등하교 셔틀 운행입니다. 미터기 사용할 필요 없으며 요금 안 받으셔도 ...,NaN,NaN,NaN,False
4,RSRV0015034,2018-03-19 16:37,2018-03-28,10:00,11:01,전화,네이버,완료,0.0,계좌이체,...,61.0,NaN,NaN,NaN,NaN,애견 유치원 등하교 셔틀 운행입니다. 미터기 사용할 필요 없으며 요금 안 받으셔도 ...,NaN,NaN,NaN,False
5,RSRV0014977,2018-03-17 18:54,2018-03-28,11:00,11:48,홈페이지,NaN,취소,2.0,NaN,...,48.0,NaN,NaN,NaN,NaN,첫이용. 왕복 시간 14:30 클리닝비안내,NaN,NaN,NaN,False
6,RSRV0015139,2018-03-22 16:03,2018-03-28,11:00,12:13,전화,재방문,완료,1.0,카드,...,73.0,경기 양평군 옥천면 옥천리 266-9,2018-03-28 11:11,서울 성북구 정릉동 139-39,2018-03-28 12:09,재이용. 11시 출발 > 2시30분 왕복.,NaN,NaN,NaN,True
7,RSRV0014867,2018-03-13 19:14,2018-03-28,12:00,12:36,카톡,네이버,취소,1.0,NaN,...,36.0,NaN,NaN,NaN,NaN,(기본 정기권 10회중 6회 사용함)\n\n\n\n재이용.,NaN,NaN,NaN,False
8,RSRV0015256,2018-03-26 13:32,2018-03-28,12:00,12:15,홈페이지,NaN,완료,1.0,현금,...,15.0,서울 관악구 신림동 149,2018-03-28 12:00,서울 관악구 신림동 산 28-37,2018-03-28 12:09,재이용.,NaN,NaN,NaN,False
9,RSRV0015224,2018-03-25 14:12,2018-03-28,13:00,13:32,카톡,재방문,완료,1.0,카드,...,32.0,서울 노원구 중계동 506-1,2018-03-28 13:07,서울 노원구 중계동 506-1,2018-03-28 13:30,재이용.,NaN,NaN,NaN,True
10,RSRV0015285,2018-03-27 14:11,2018-03-28,13:10,13:40,전화,네이버,완료,1.0,카드,...,30.0,서울 송파구 문정동 618,2018-03-28 13:22,경기 성남시 분당구 삼평동 636-1,2018-03-28 13:50,재이용. /왕복 5:30,NaN,NaN,NaN,False
11,RSRV0014941,2018-03-16 17:47,2018-03-28,14:00,14:46,카톡,NaN,취소,1.0,NaN,...,46.0,NaN,NaN,NaN,NaN,재이용. 왕복이용. 아이가 멀미를 해서 창문열고 운행부탁드립니다.,NaN,NaN,NaN,False
12,RSRV0015244,2018-03-26 11:49,2018-03-28,14:00,14:25,전화,재방문,취소,2.0,NaN,...,25.0,NaN,NaN,NaN,NaN,"재이용. 보호자 2분, 코카 1마리. /6시",NaN,NaN,NaN,False
13,RSRV0014978,2018-03-17 18:54,2018-03-28,14:30,NaN,홈페이지,NaN,취소,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,첫이용. 왕복 시간 14:30 클리닝비안내,NaN,NaN,NaN,False
14,RSRV0015140,2018-03-22 16:03,2018-03-28,14:30,15:44,전화,재방문,완료,1.0,카드,...,74.0,서울 성북구 정릉동 139-39,2018-03-28 14:21,경기 양평군 옥천면 옥천리 266-9,2018-03-28 15:24,재이용. 11시 출발 > 2시30분 왕복.,NaN,NaN,NaN,True
15,RSRV0015314,2018-03-28 09:32,2018-03-28,14:30,14:41,전화,NaN,취소,1.0,NaN,...,11.0,NaN,NaN,NaN,NaN,처음 이용하시는 고객.,NaN,NaN,NaN,False
16,RSRV0015330,2018-03-28 15:02,2018-03-28,15:30,NaN,전화,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,처음 이용하시는 고객. 유기견이라 냄새가 많이 난다고 합니다.,NaN,NaN,NaN,False
17,RSRV0014942,2018-03-16 17:47,2018-03-28,15:40,16:19,카톡,NaN,취소,1.0,NaN,...,39.0,NaN,NaN,NaN,NaN,재이용. 왕복이용. 아이가 멀미를 해서 창문열고 운행부탁드립니다.,NaN,NaN,NaN,False
18,RSRV0015331,2018-03-28 15:04,2018-03-28,15:40,15:56,전화,NaN,취소,1.0,NaN,...,16.0,NaN,NaN,NaN,NaN,처음 이용하시는 고객.,NaN,NaN,NaN,False
19,RSRV0015315,2018-03-28 09:32,2018-03-28,16:00,NaN,전화,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,처음 이용하시는 고객.,NaN,NaN,NaN,False
20,RSRV0015326,2018-03-28 14:32,2018-03-28,16:30,16:41,카톡,네이버,완료,1.0,카드,...,11.0,서울 강북구 미아동 670-29,2018-03-28 16:35,서울 성북구 길음동 1278,2018-03-28 16:48,재이용. /왕복 5:30,NaN,NaN,NaN,False
21,RSRV0014868,2018-03-13 19:14,2018-03-28,17:00,17:36,카톡,네이버,취소,1.0,NaN,...,36.0,NaN,NaN,NaN,NaN,(기본 정기권 10회중 6회 사용함)\n\n\n\n재이용.,NaN,NaN,NaN,False
22,RSRV0015286,2018-03-27 14:11,2018-03-28,17:30,18:06,전화,네이버,완료,1.0,카드,...,36.0,경기 성남시 분당구 판교동 594-1,2018-03-28 17:34,서울 송파구 문정동 618,2018-03-28 18:07,재이용.,NaN,NaN,NaN,False
23,RSRV0015327,2018-03-28 14:32,2018-03-28,17:30,17:43,카톡,네이버,완료,1.0,카드,...,13.0,서울 성북구 길음동 1083,2018-03-28 17:11,서울 성북구 길음동 1083,2018-03-28 17:25,재이용. /왕복 5:30,NaN,NaN,NaN,False
24,RSRV0015328,2018-03-28 14:43,2018-03-28,17:30,17:56,카톡,재방문,완료,1.0,카드,...,26.0,서울 종로구 숭인동 70-25,2018-03-28 17:50,서울 용산구 이태원동 251-63,2018-03-28 18:20,재이용.,NaN,NaN,NaN,False
25,RSRV0015245,2018-03-26 11:49,2018-03-28,18:00,18:22,전화,재방문,취소,2.0,NaN,...,22.0,NaN,NaN,NaN,NaN,"재이용. 보호자 2분, 코카 1마리.",NaN,NaN,NaN,False
26,RSRV0015339,2018-03-28 17:08,2018-03-28,18:00,NaN,전화,NaN,못함,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,가능하신 기사님이 없어서 못함.,NaN,NaN,NaN,False
27,RSRV0015292,2018-03-27 15:14,2018-03-28,18:40,19:05,카톡,재방문,완료,1.0,카드,...,25.0,서울 강남구 삼성동 160-23,2018-03-28 18:57,서울 광진구 광장동 141-6,2018-03-28 19:24,재이용.,NaN,NaN,NaN,False
28,RSRV0015036,2018-03-19 16:37,2018-03-28,19:30,20:24,전화,재방문,완료,0.0,계좌이체,...,54.0,NaN,NaN,NaN,NaN,미터기 사용 안하셔도 됩니다. 토비부터 운행해주시면 됩니다.,NaN,NaN,NaN,False
29,RSRV0015351,2018-03-28 19:22,2018-03-28,19:50,NaN,카톡,NaN,못함,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,처음 이용하시는 고객.,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8745,RSRV0024427,2018-10-27 21:50,2018-10-28,11:30,NaN,모바일,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,뒷좌석 차량놀이방매트 설치요망,NaN,NaN,NaN,False
8746,RSRV0024330,2018-10-25 13:59,2018-10-28,12:00,12:48,카톡,NaN,완료,2.0,카드,...,53.0,서울 용산구 신계동 45-6,2018-10-28 12:02,서울 도봉구 도봉동 87,2018-10-28 12:48,재이용.,NaN,NaN,NaN,True
8747,RSRV0024353,2018-10-26 10:35,2018-10-28,12:00,12:12,모바일,NaN,완료,1.0,카드,...,31.0,서울 마포구 서교동 478-23,2018-10-28 11:41,서울 성동구 옥수동 250,2018-10-28 12:12,NaN,NaN,편하고 즐겁게 이용했습니다.감사합니다.^^,5.0,True
8748,RSRV0024321,2018-10-25 11:53,2018-10-28,12:05,NaN,홈페이지,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,재이용.,NaN,NaN,NaN,False
8749,RSRV0023849,2018-10-16 15:15,2018-10-28,12:20,12:38,모바일,NaN,완료,1.0,카드,...,35.0,서울 강남구 청담동 125-7,2018-10-28 12:12,서울 송파구 거여동 289-9,2018-10-28 12:38,NaN,할인(기타할인),NaN,NaN,False
8750,RSRV0024396,2018-10-27 11:15,2018-10-28,12:30,NaN,카톡,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,재이용. 왕복 12:30/15:30,NaN,NaN,NaN,False
8751,RSRV0024133,2018-10-21 19:48,2018-10-28,13:00,13:40,모바일,NaN,완료,3.0,카드,...,50.0,서울 성북구 정릉동 757-9,2018-10-28 13:04,경기 남양주시 금곡동 509-3,2018-10-28 13:40,재이용.왕복13:00/17:30 10/21일 이용한기사님으로 해주세용,NaN,NaN,NaN,True
8752,RSRV0024319,2018-10-25 11:43,2018-10-28,13:00,13:16,전화,네이버,완료,0.0,카드,...,28.0,서울 서초구 양재동 227-3,2018-10-28 12:52,서울 서초구 반포동 741-15,2018-10-28 13:16,재이용.단독(목줄)/결제는 샵에서/왕복13:00-18:50 애견안전벨트착용후사진. ...,"16,000원 계산됨. 난이샵에서 매번 이금액에 결제되었다고 합니다.",NaN,NaN,False
8753,RSRV0024429,2018-10-28 00:05,2018-10-28,13:00,13:35,모바일,NaN,완료,2.0,카드,...,38.0,서울 성북구 종암동 104-1,2018-10-28 13:00,서울 은평구 구산동 355-95,2018-10-28 13:35,"강아지 화장실, 방석과 같은 용품, 작은어항 등 약간의 짐이 있습니다.",NaN,NaN,NaN,False
8754,RSRV0024441,2018-10-28 09:49,2018-10-28,13:00,13:14,모바일,NaN,완료,2.0,카드,...,26.0,서울 강남구 삼성동 111-107,2018-10-28 12:59,서울 강남구 역삼동 800-26,2018-10-28 13:14,재이용.,NaN,NaN,NaN,False
8755,RSRV0024311,2018-10-25 08:58,2018-10-28,13:30,NaN,모바일,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,"재이용. 레이 우선, 왕복 같은분으로 배차원하심. 결제는 항상 복귀 드라이버 일괄...",NaN,NaN,NaN,False
8756,RSRV0024445,2018-10-28 11:59,2018-10-28,13:30,NaN,모바일,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,이동장없이 타야합니다.,NaN,NaN,NaN,False
8757,RSRV0024417,2018-10-27 17:18,2018-10-28,14:00,NaN,카톡,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,"재이용.정기권10회/6회 왕복 14:00/16:40 선입금 20,000입금완료.",NaN,NaN,NaN,False
8758,RSRV0024288,2018-10-24 15:10,2018-10-28,15:00,15:38,카톡,재방문,완료,1.0,카드,...,47.0,경기 안양시 동안구 관양동 1652,2018-10-28 14:55,서울 용산구 용산동2가 48-11,2018-10-28 15:38,"재이용. 선입금16,000원 입금완료.",16000 선입금하셨습니다,NaN,NaN,True
8759,RSRV0024397,2018-10-27 11:15,2018-10-28,15:30,NaN,카톡,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,재이용. 왕복 12:30/15:30,NaN,NaN,NaN,False
8760,RSRV0024453,2018-10-28 13:25,2018-10-28,15:30,15:40,카톡,재방문,완료,1.0,카드,...,29.0,서울 강서구 등촌동 633-19,2018-10-28 15:25,서울 마포구 합정동 357-7,2018-10-28 15:40,재이용.,NaN,NaN,NaN,False
8761,RSRV0024444,2018-10-28 10:20,2018-10-28,16:00,16:08,모바일,NaN,완료,1.0,카드,...,19.0,서울 강남구 도곡동 454-4,2018-10-28 15:59,서울 서초구 양재동 369-1,2018-10-28 16:08,재이용.,NaN,NaN,3.0,False
8762,RSRV0024459,2018-10-28 15:54,2018-10-28,16:30,16:54,모바일,NaN,완료,3.0,카드,...,24.0,서울 강남구 청담동 77,2018-10-28 16:22,서울 강남구 자곡동 산 1-1,2018-10-28 16:54,NaN,NaN,NaN,NaN,False
8763,RSRV0024418,2018-10-27 17:18,2018-10-28,16:40,NaN,카톡,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,재이용.정기권 10회/7회 왕복 14:00 / 16:40,NaN,NaN,NaN,False
8764,RSRV0024134,2018-10-21 19:48,2018-10-28,17:00,18:13,모바일,NaN,완료,3.0,카드,...,67.0,경기 남양주시 금곡동 509-3,2018-10-28 16:57,서울 성북구 정릉동 757-64,2018-10-28 18:13,재이용.왕복13:00/17:00 도시락말고 개똥치는 사람들 앞으로 와주세요,NaN,NaN,NaN,True
8765,RSRV0024448,2018-10-28 12:48,2018-10-28,17:00,17:05,카톡,재방문,완료,2.0,카드,...,21.0,서울 강북구 번동 58-1,2018-10-28 16:52,서울 성북구 돈암동 1-3,2018-10-28 17:05,재이용.,NaN,NaN,NaN,False
8766,RSRV0024460,2018-10-28 16:16,2018-10-28,17:00,18:01,카톡,NaN,완료,1.0,카드,...,74.0,경기 파주시 목동동 945-2,2018-10-28 17:04,서울 동작구 대방동 335-47,2018-10-28 18:01,첫이용,NaN,NaN,NaN,True
8767,RSRV0024432,2018-10-28 08:39,2018-10-28,17:30,17:56,모바일,NaN,완료,0.0,계좌이체,...,31.0,서울 서초구 반포동 730-29,2018-10-28 17:25,서울 강남구 대치동 601-1,2018-10-28 17:56,"재이용. 도착지 010-2024-1156(어머님), 선입금 17,000원 받음",NaN,NaN,NaN,False
8768,RSRV0024320,2018-10-25 11:43,2018-10-28,18:50,19:02,전화,네이버,완료,0.0,현금,...,23.0,서울 서초구 서초동 1301-6,2018-10-28 18:39,서울 서초구 양재동 203-4,2018-10-28 19:02,재이용. 애견단독(목줄) 애견 안전벨트착용 후 사진부탁드립니다. 조수석착석희망. 결...,NaN,NaN,NaN,False
8769,RSRV0024405,2018-10-27 14:29,2018-10-28,19:00,19:20,홈페이지,NaN,완료,1.0,현금,...,37.0,서울 동대문구 이문동 255-8,2018-10-28 18:37,서울 노원구 상계동 138-1,2018-10-28 19:20,"첫이용. 고양이(이동장)진돗개20kg ,둘다온순.타기전 배변산책후 탑승.",NaN,NaN,NaN,False
8770,RSRV0024466,2018-10-28 18:15,2018-10-28,19:40,19:52,모바일,NaN,완료,1.0,카드,...,16.0,서울 서초구 서초동 1309-1,2018-10-28 19:47,서울 강남구 역삼동 800-13,2018-10-28 19:52,재이용.,NaN,NaN,NaN,False
8771,RSRV0024468,2018-10-28 19:48,2018-10-28,20:50,21:14,카톡,NaN,완료,1.0,카드,...,33.0,서울 종로구 종로6가 78-2,2018-10-28 20:50,서울 강남구 청담동 77-69,2018-10-28 21:14,재이용.,NaN,NaN,NaN,False
8772,RSRV0024467,2018-10-28 19:48,2018-10-28,22:30,22:05,모바일,NaN,완료,1.0,카드,...,16.0,서울 강남구 역삼동 606-33,2018-10-28 21:54,서울 서초구 서초동 1309-1,2018-10-28 22:05,재이용. 왕복 19:40 /22:30,NaN,NaN,NaN,False
8773,RSRV0024298,2018-10-24 18:08,2018-10-28,22:40,23:34,모바일,NaN,완료,2.0,카드,...,36.0,서울 강서구 방화동 886,2018-10-28 22:54,경기 광명시 광명동 200-6,2018-10-28 23:34,재이용.,NaN,NaN,NaN,True
8774,RSRV0024425,2018-10-27 21:35,2018-10-28,23:30,NaN,모바일,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,뒷좌석 차량놀이방매트 설치,NaN,NaN,NaN,False

In [37]:
df.shape

(8775, 44)

In [38]:
new_df = df.drop(columns='고객명')

In [39]:
new_df.shape

(8775, 43)

In [40]:
new_df.head()

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
0,RSRV0015304,2018-03-27 19:35,2018-03-28,09:00,09:48,전화,NaN,완료,1.0,카드,...,48.0,서울 중구 예장동 산 5-89,2018-03-28 09:10,서울 노원구 중계동 506-1,2018-03-28 11:27,재이용.,NaN,NaN,NaN,True
1,RSRV0015311,2018-03-28 09:16,2018-03-28,09:30,NaN,홈페이지,NaN,못함,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,바로 이용 원하심.,NaN,NaN,NaN,False
2,RSRV0015255,2018-03-26 13:20,2018-03-28,09:40,09:51,홈페이지,NaN,완료,1.0,현금,...,11.0,서울 관악구 신림동 255-320,2018-03-28 10:02,서울 관악구 신림동 217,2018-03-28 10:07,처음 이용하시는 고객.,NaN,NaN,NaN,False
3,RSRV0015032,2018-03-19 16:36,2018-03-28,10:00,11:06,전화,네이버,완료,0.0,계좌이체,...,66.0,NaN,NaN,NaN,NaN,애견 유치원 등하교 셔틀 운행입니다. 미터기 사용할 필요 없으며 요금 안 받으셔도 ...,NaN,NaN,NaN,False
4,RSRV0015034,2018-03-19 16:37,2018-03-28,10:00,11:01,전화,네이버,완료,0.0,계좌이체,...,61.0,NaN,NaN,NaN,NaN,애견 유치원 등하교 셔틀 운행입니다. 미터기 사용할 필요 없으며 요금 안 받으셔도 ...,NaN,NaN,NaN,False

## 데이터 프레임 익숙해 지기

In [42]:
df[0:1]

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
0,RSRV0015304,2018-03-27 19:35,2018-03-28,09:00,09:48,전화,NaN,완료,1.0,카드,...,48.0,서울 중구 예장동 산 5-89,2018-03-28 09:10,서울 노원구 중계동 506-1,2018-03-28 11:27,재이용.,NaN,NaN,NaN,True

In [45]:
df.shape

(8775, 44)

In [46]:
df[8774:]

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
8774,RSRV0024425,2018-10-27 21:35,2018-10-28,23:30,NaN,모바일,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,뒷좌석 차량놀이방매트 설치,NaN,NaN,NaN,False

In [48]:
df[-1:]

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
8774,RSRV0024425,2018-10-27 21:35,2018-10-28,23:30,NaN,모바일,NaN,취소,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,뒷좌석 차량놀이방매트 설치,NaN,NaN,NaN,False

In [49]:
df[0:2]

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
0,RSRV0015304,2018-03-27 19:35,2018-03-28,09:00,09:48,전화,NaN,완료,1.0,카드,...,48.0,서울 중구 예장동 산 5-89,2018-03-28 09:10,서울 노원구 중계동 506-1,2018-03-28 11:27,재이용.,NaN,NaN,NaN,True
1,RSRV0015311,2018-03-28 09:16,2018-03-28,09:30,NaN,홈페이지,NaN,못함,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,바로 이용 원하심.,NaN,NaN,NaN,False

In [53]:
df[99:100]

,예약코드,접수일자,예약일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
99,RSRV0015209,2018-03-24 21:37,2018-03-31,10:40,10:57,카톡,재방문,완료,0.0,카드,...,17.0,서울 용산구 이태원동 519,2018-03-31 10:44,서울 중구 장충동2가 산 4-61,2018-03-31 11:04,재이용 고객. 애견단독 1마리. 이동장 준비하심. \n\n왕복고객 오전 10시4...,NaN,NaN,NaN,False

## 컬럼 보기

In [50]:
df.columns

Index(['예약코드', '접수일자', '예약일자', '예약시간', '종료시간', '예약형태', '방문경로', '예약상태', '동승자수',
       '지불방식', '운행요금방식', '정산금액', '기본요금', '미터기요금', '반려동물추가요금', '세탁요금', '상품판매요금',
       '경유지요금', '기타요금', '할인요금', '사용정기권코드', '고객명', '고객ID', '고객형태', '고객등급',
       '고객연락처', '고객등록일자', '접수자', '운전자', '운전자연락처', '출발지', '도착지', '경유지',
       '이동거리(Km)', '이동시간(분)', '미터기시작위치', '미터기시작시간', '정산완료위치', '정산완료시간', '예약메모',
       '정산메모', '고객리뷰', '고객평점', '정산금액평균이상'],
      dtype='object')

In [52]:
df['예약코드']

0       RSRV0015304
1       RSRV0015311
2       RSRV0015255
3       RSRV0015032
4       RSRV0015034
5       RSRV0014977
6       RSRV0015139
7       RSRV0014867
8       RSRV0015256
9       RSRV0015224
10      RSRV0015285
11      RSRV0014941
12      RSRV0015244
13      RSRV0014978
14      RSRV0015140
15      RSRV0015314
16      RSRV0015330
17      RSRV0014942
18      RSRV0015331
19      RSRV0015315
20      RSRV0015326
21      RSRV0014868
22      RSRV0015286
23      RSRV0015327
24      RSRV0015328
25      RSRV0015245
26      RSRV0015339
27      RSRV0015292
28      RSRV0015036
29      RSRV0015351
           ...
8745    RSRV0024427
8746    RSRV0024330
8747    RSRV0024353
8748    RSRV0024321
8749    RSRV0023849
8750    RSRV0024396
8751    RSRV0024133
8752    RSRV0024319
8753    RSRV0024429
8754    RSRV0024441
8755    RSRV0024311
8756    RSRV0024445
8757    RSRV0024417
8758    RSRV0024288
8759    RSRV0024397
8760    RSRV0024453
8761    RSRV0024444
8762    RSRV0024459
8763    RSRV0024418
8764    RSRV0024134
8765    RSRV0024448
8766    RSRV0024460
8767    RSRV0024432
8768    RSRV0024320
8769    RSRV0024405
8770    RSRV0024466
8771    RSRV0024468
8772    RSRV0024467
8773    RSRV0024298
8774    RSRV0024425
Name: 예약코드, Length: 8775, dtype: object

In [76]:
df['예약코드'].count

<bound method Series.count of 0       RSRV0015304
1       RSRV0015311
2       RSRV0015255
3       RSRV0015032
4       RSRV0015034
5       RSRV0014977
6       RSRV0015139
7       RSRV0014867
8       RSRV0015256
9       RSRV0015224
10      RSRV0015285
11      RSRV0014941
12      RSRV0015244
13      RSRV0014978
14      RSRV0015140
15      RSRV0015314
16      RSRV0015330
17      RSRV0014942
18      RSRV0015331
19      RSRV0015315
20      RSRV0015326
21      RSRV0014868
22      RSRV0015286
23      RSRV0015327
24      RSRV0015328
25      RSRV0015245
26      RSRV0015339
27      RSRV0015292
28      RSRV0015036
29      RSRV0015351
           ...
8745    RSRV0024427
8746    RSRV0024330
8747    RSRV0024353
8748    RSRV0024321
8749    RSRV0023849
8750    RSRV0024396
8751    RSRV0024133
8752    RSRV0024319
8753    RSRV0024429
8754    RSRV0024441
8755    RSRV0024311
8756    RSRV0024445
8757    RSRV0024417
8758    RSRV0024288
8759    RSRV0024397
8760    RSRV0024453
8761    RSRV0024444
8762    RSRV0024459
8763    RSRV0024418
8764    RSRV0024134
8765    RSRV0024448
8766    RSRV0024460
8767    RSRV0024432
8768    RSRV0024320
8769    RSRV0024405
8770    RSRV0024466
8771    RSRV0024468
8772    RSRV0024467
8773    RSRV0024298
8774    RSRV0024425
Name: 예약코드, Length: 8775, dtype: object>

## Group해서 보기

In [58]:
df.columns

Index(['예약코드', '접수일자', '예약일자', '예약시간', '종료시간', '예약형태', '방문경로', '예약상태', '동승자수',
       '지불방식', '운행요금방식', '정산금액', '기본요금', '미터기요금', '반려동물추가요금', '세탁요금', '상품판매요금',
       '경유지요금', '기타요금', '할인요금', '사용정기권코드', '고객명', '고객ID', '고객형태', '고객등급',
       '고객연락처', '고객등록일자', '접수자', '운전자', '운전자연락처', '출발지', '도착지', '경유지',
       '이동거리(Km)', '이동시간(분)', '미터기시작위치', '미터기시작시간', '정산완료위치', '정산완료시간', '예약메모',
       '정산메모', '고객리뷰', '고객평점', '정산금액평균이상'],
      dtype='object')

In [59]:
df['고객등급']

0       일반고객
1       일반고객
2       단골고객
3       일반고객
4       일반고객
5       일반고객
6       단골고객
7       단골고객
8       단골고객
9       일반고객
10      단골고객
11      일반고객
12      일반고객
13      일반고객
14      단골고객
15       NaN
16      일반고객
17      일반고객
18      일반고객
19       NaN
20      일반고객
21      단골고객
22      단골고객
23      일반고객
24      일반고객
25      일반고객
26       NaN
27      일반고객
28      일반고객
29       NaN
        ...
8745    일반고객
8746    일반고객
8747    일반고객
8748    일반고객
8749    일반고객
8750    일반고객
8751    단골고객
8752    단골고객
8753     NaN
8754    단골고객
8755    진상고객
8756     NaN
8757    일반고객
8758    일반고객
8759    일반고객
8760    일반고객
8761    일반고객
8762     NaN
8763    일반고객
8764    단골고객
8765    일반고객
8766     NaN
8767    일반고객
8768    단골고객
8769     NaN
8770    일반고객
8771    일반고객
8772    일반고객
8773     NaN
8774    일반고객
Name: 고객등급, Length: 8775, dtype: object

In [84]:
df.groupby('고객등급').count()['예약코드'].sort_values(ascending=False)

고객등급
일반고객    5878
단골고객    1366
진상고객     231
Name: 예약코드, dtype: int64

### 퍼센티지 구하기

In [85]:
(df.groupby('고객등급').count()['예약코드'] / df.shape[0] * 100).sort_values(ascending=False)

고객등급
일반고객    66.985755
단골고객    15.566952
진상고객     2.632479
Name: 예약코드, dtype: float64

## 날짜 그룹해서 보기

In [63]:
df['접수일자']

0       2018-03-27 19:35
1       2018-03-28 09:16
2       2018-03-26 13:20
3       2018-03-19 16:36
4       2018-03-19 16:37
5       2018-03-17 18:54
6       2018-03-22 16:03
7       2018-03-13 19:14
8       2018-03-26 13:32
9       2018-03-25 14:12
10      2018-03-27 14:11
11      2018-03-16 17:47
12      2018-03-26 11:49
13      2018-03-17 18:54
14      2018-03-22 16:03
15      2018-03-28 09:32
16      2018-03-28 15:02
17      2018-03-16 17:47
18      2018-03-28 15:04
19      2018-03-28 09:32
20      2018-03-28 14:32
21      2018-03-13 19:14
22      2018-03-27 14:11
23      2018-03-28 14:32
24      2018-03-28 14:43
25      2018-03-26 11:49
26      2018-03-28 17:08
27      2018-03-27 15:14
28      2018-03-19 16:37
29      2018-03-28 19:22
              ...
8745    2018-10-27 21:50
8746    2018-10-25 13:59
8747    2018-10-26 10:35
8748    2018-10-25 11:53
8749    2018-10-16 15:15
8750    2018-10-27 11:15
8751    2018-10-21 19:48
8752    2018-10-25 11:43
8753    2018-10-28 00:05
8754    2018-10-28 09:49
8755    2018-10-25 08:58
8756    2018-10-28 11:59
8757    2018-10-27 17:18
8758    2018-10-24 15:10
8759    2018-10-27 11:15
8760    2018-10-28 13:25
8761    2018-10-28 10:20
8762    2018-10-28 15:54
8763    2018-10-27 17:18
8764    2018-10-21 19:48
8765    2018-10-28 12:48
8766    2018-10-28 16:16
8767    2018-10-28 08:39
8768    2018-10-25 11:43
8769    2018-10-27 14:29
8770    2018-10-28 18:15
8771    2018-10-28 19:48
8772    2018-10-28 19:48
8773    2018-10-24 18:08
8774    2018-10-27 21:35
Name: 접수일자, Length: 8775, dtype: object

일자와 시간이 같이 들어 있다. 흠...

In [65]:
df['예약일자']

0       2018-03-28
1       2018-03-28
2       2018-03-28
3       2018-03-28
4       2018-03-28
5       2018-03-28
6       2018-03-28
7       2018-03-28
8       2018-03-28
9       2018-03-28
10      2018-03-28
11      2018-03-28
12      2018-03-28
13      2018-03-28
14      2018-03-28
15      2018-03-28
16      2018-03-28
17      2018-03-28
18      2018-03-28
19      2018-03-28
20      2018-03-28
21      2018-03-28
22      2018-03-28
23      2018-03-28
24      2018-03-28
25      2018-03-28
26      2018-03-28
27      2018-03-28
28      2018-03-28
29      2018-03-28
           ...
8745    2018-10-28
8746    2018-10-28
8747    2018-10-28
8748    2018-10-28
8749    2018-10-28
8750    2018-10-28
8751    2018-10-28
8752    2018-10-28
8753    2018-10-28
8754    2018-10-28
8755    2018-10-28
8756    2018-10-28
8757    2018-10-28
8758    2018-10-28
8759    2018-10-28
8760    2018-10-28
8761    2018-10-28
8762    2018-10-28
8763    2018-10-28
8764    2018-10-28
8765    2018-10-28
8766    2018-10-28
8767    2018-10-28
8768    2018-10-28
8769    2018-10-28
8770    2018-10-28
8771    2018-10-28
8772    2018-10-28
8773    2018-10-28
8774    2018-10-28
Name: 예약일자, Length: 8775, dtype: object

In [72]:
df.columns

Index(['예약코드', '접수일자', '예약일자', '예약시간', '종료시간', '예약형태', '방문경로', '예약상태', '동승자수',
       '지불방식', '운행요금방식', '정산금액', '기본요금', '미터기요금', '반려동물추가요금', '세탁요금', '상품판매요금',
       '경유지요금', '기타요금', '할인요금', '사용정기권코드', '고객명', '고객ID', '고객형태', '고객등급',
       '고객연락처', '고객등록일자', '접수자', '운전자', '운전자연락처', '출발지', '도착지', '경유지',
       '이동거리(Km)', '이동시간(분)', '미터기시작위치', '미터기시작시간', '정산완료위치', '정산완료시간', '예약메모',
       '정산메모', '고객리뷰', '고객평점', '정산금액평균이상'],
      dtype='object')

In [75]:
df.groupby('예약일자').count()

,예약코드,접수일자,예약시간,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,운행요금방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
예약일자,,,,,,,,,,,,,,,,,,,,,
2018-03-28,30,30,30,24,30,16,30,30,15,15,...,24,12,12,12,12,30,0,0,0,30
2018-03-29,26,26,26,22,26,15,26,26,17,17,...,22,16,16,13,13,26,0,0,0,26
2018-03-30,37,37,37,34,37,30,37,37,27,27,...,34,21,21,21,21,37,0,0,0,37
2018-03-31,50,50,50,43,50,39,50,50,30,30,...,43,27,27,27,27,50,5,0,0,50
2018-04-01,36,36,36,32,36,27,36,36,19,19,...,32,19,19,19,19,36,4,0,0,36
2018-04-02,24,24,24,23,24,16,24,24,20,20,...,23,18,18,17,17,24,3,0,0,24
2018-04-03,26,26,26,21,26,13,26,26,16,16,...,21,16,16,16,16,26,1,0,0,26
2018-04-04,32,32,32,28,32,19,32,32,20,20,...,28,19,19,19,19,32,1,0,0,32
2018-04-05,26,26,26,23,26,10,26,26,16,16,...,23,16,16,15,15,26,0,0,0,26
2018-04-06,39,39,39,34,39,19,39,39,27,27,...,34,24,24,23,23,39,3,0,0,39
2018-04-07,31,31,31,23,31,23,31,31,14,14,...,23,14,14,14,14,31,4,0,0,31
2018-04-08,36,36,36,31,36,33,36,36,19,19,...,31,17,18,17,18,36,1,0,0,36
2018-04-09,25,25,25,19,25,20,25,25,14,14,...,19,13,13,12,12,25,1,0,0,25
2018-04-10,29,29,29,28,29,17,29,29,22,22,...,28,21,21,20,20,29,3,0,0,29
2018-04-11,27,27,27,24,27,18,27,27,20,20,...,24,17,17,17,17,27,0,0,0,27
2018-04-12,34,34,34,28,34,16,34,34,21,21,...,28,19,19,19,19,34,1,0,0,34
2018-04-13,25,25,25,23,25,16,25,25,16,16,...,23,13,13,9,9,25,1,0,0,25
2018-04-14,35,35,35,33,35,21,35,35,16,16,...,33,16,16,16,16,35,0,0,0,35
2018-04-15,22,22,22,19,22,16,22,22,14,14,...,19,14,14,14,14,22,1,0,0,22
2018-04-16,21,21,21,19,21,10,21,21,13,13,...,19,10,11,10,11,20,1,0,0,21
2018-04-17,21,21,21,17,21,14,21,21,10,10,...,17,8,8,7,7,21,2,0,0,21
2018-04-18,24,24,24,21,24,12,24,24,20,20,...,21,17,17,17,17,24,0,0,0,24
2018-04-19,12,12,12,12,12,1,12,12,10,10,...,12,10,10,10,10,12,0,0,0,12
2018-04-20,29,29,29,27,29,17,29,29,24,24,...,27,23,23,21,21,29,2,0,0,29
2018-04-21,52,52,52,39,52,37,52,52,24,24,...,39,24,24,24,24,52,4,0,0,52
2018-04-22,29,29,29,25,29,20,29,29,16,16,...,25,16,16,16,16,29,0,0,0,29
2018-04-23,29,29,29,28,29,22,29,29,20,20,...,28,14,14,12,12,29,2,0,0,29
2018-04-24,24,24,24,24,24,13,24,24,19,19,...,24,19,19,19,19,24,1,0,0,24
2018-04-25,34,34,34,30,33,14,34,34,27,27,...,30,25,25,24,24,33,5,0,0,34
2018-04-26,29,29,29,25,29,20,29,29,20,20,...,25,19,19,17,17,29,0,0,0,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-09-29,65,65,65,38,65,9,65,65,38,38,...,38,34,34,35,35,65,14,1,1,65
2018-09-30,43,43,43,32,43,7,43,43,32,32,...,32,30,30,30,30,41,9,2,3,43
2018-10-01,36,36,36,27,36,8,36,36,27,27,...,27,26,26,26,26,35,9,1,1,36
2018-10-02,38,38,38,24,38,10,38,38,24,24,...,24,24,24,24,24,37,3,2,4,38
2018-10-03,67,67,67,36,67,8,67,67,36,36,...,36,35,35,35,35,56,9,0,1,67
2018-10-04,47,47,47,39,47,8,47,47,39,39,...,39,37,37,38,38,37,8,0,1,47
2018-10-05,45,45,45,28,45,9,45,45,28,28,...,28,26,26,26,26,33,5,0,0,45
2018-10-06,62,62,62,42,62,10,62,62,42,42,...,42,40,40,40,40,46,12,0,4,62
2018-10-07,27,27,27,17,27,5,27,27,17,17,...,17,17,17,17,17,20,7,0,0,27
2018-10-08,48,48,48,29,48,4,48,48,29,29,...,29,27,27,27,27,32,4,2,2,48
2018-10-09,37,37,37,31,37,12,37,37,31,31,...,31,31,31,30,30,26,4,3,4,37
2018-10-10,44,44,44,31,44,6,44,44,31,31,...,31,30,30,29,29,34,5,1,1,44
2018-10-11,56,56,56,44,56,12,56,56,44,44,...,44,43,43,42,42,42,8,0,1,56
2018-10-12,47,47,47,33,47,6,47,47,33,33,...,33,30,30,28,28,31,9,2,2,47
2018-10-13,67,67,67,55,67,17,67,67,55,55,...,55,52,52,49,49,49,12,2,2,67
2018-10-14,42,42,42,26,42,5,42,42,26,26,...,26,26,26,26,26,30,9,2,2,42
2018-10-15,62,62,62,30,62,22,62,62,30,30,...,30,28,28,28,28,51,8,1,1,62
2018-10-16,50,50,50,31,50,9,50,50,31,31,...,31,31,31,29,29,32,9,1,3,50
2018-10-17,49,49,49,35,49,3,49,49,35,35,...,35,32,32,32,32,35,5,1,1,49
2018-10-18,53,53,53,27,53,9,53,53,27,27,...,27,26,26,26,26,35,7,0,1,53
2018-10-19,55,55,55,39,55,8,55,55,39,39,...,39,38,38,38,38,45,9,1,1,55
2018-10-20,53,53,53,31,53,10,53,53,31,31,...,31,31,31,30,31,39,11,2,3,53
2018-10-21,56,56,56,41,56,14,56,56,41,41,...,41,40,40,40,40,50,14,0,2,56
2018-10-22,40,40,40,30,40,3,40,40,30,30,...,30,28,28,28,28,34,6,2,2,40
2018-10-23,30,30,30,21,30,6,30,30,21,21,...,21,19,19,18,18,21,5,1,2,30
2018-10-24,46,46,46,36,46,10,46,46,36,36,...,36,35,35,36,36,34,6,2,2,46
2018-10-25,31,31,31,20,31,7,31,31,20,20,...,20,20,20,19,19,25,3,0,0,31
2018-10-26,50,50,50,39,50,10,50,50,39,39,...,39,36,36,35,35,39,10,0,2,50
2018-10-27,60,60,60,47,60,8,60,60,47,47,...,47,44,44,43,43,46,15,1,3,60
2018-10-28,43,43,42,26,43,6,43,43,26,26,...,26,26,26,26,26,38,5,1,3,43

In [66]:
df['예약시간']

0       09:00
1       09:30
2       09:40
3       10:00
4       10:00
5       11:00
6       11:00
7       12:00
8       12:00
9       13:00
10      13:10
11      14:00
12      14:00
13      14:30
14      14:30
15      14:30
16      15:30
17      15:40
18      15:40
19      16:00
20      16:30
21      17:00
22      17:30
23      17:30
24      17:30
25      18:00
26      18:00
27      18:40
28      19:30
29      19:50
        ...
8745    11:30
8746    12:00
8747    12:00
8748    12:05
8749    12:20
8750    12:30
8751    13:00
8752    13:00
8753    13:00
8754    13:00
8755    13:30
8756    13:30
8757    14:00
8758    15:00
8759    15:30
8760    15:30
8761    16:00
8762    16:30
8763    16:40
8764    17:00
8765    17:00
8766    17:00
8767    17:30
8768    18:50
8769    19:00
8770    19:40
8771    20:50
8772    22:30
8773    22:40
8774    23:30
Name: 예약시간, Length: 8775, dtype: object

In [68]:
df.groupby('예약시간').count()

,예약코드,접수일자,예약일자,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,운행요금방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
예약시간,,,,,,,,,,,,,,,,,,,,,
00:00,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,1,0,0,0,2
00:05,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,0,0,1
00:20,3,3,3,3,3,2,3,3,2,2,...,3,2,2,2,2,3,0,0,0,3
00:30,2,2,2,1,2,1,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
00:40,3,3,3,2,3,0,3,3,2,2,...,2,2,2,2,2,3,2,0,0,3
00:50,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
01:00,3,3,3,2,3,0,3,3,2,2,...,2,1,1,1,1,3,2,0,0,3
01:10,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,1,0,0,0,2
01:20,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,2,0,0,0,2
01:25,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
01:30,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
02:00,5,5,5,2,5,1,5,5,2,2,...,2,2,2,2,2,4,1,0,0,5
03:00,1,1,1,1,1,1,1,1,0,0,...,1,0,0,0,0,1,0,0,0,1
03:30,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,1,0,0,0,2
04:00,1,1,1,1,1,0,1,1,0,0,...,1,0,0,0,0,1,0,0,0,1
04:20,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
05:00,2,2,2,2,2,0,2,2,2,2,...,2,2,2,2,2,2,0,0,0,2
05:10,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
05:30,1,1,1,0,1,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
05:40,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
06:00,7,7,7,3,7,2,7,7,2,2,...,3,1,1,2,2,7,0,0,0,7
06:20,2,2,2,1,2,1,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
06:40,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,0,0,1
07:00,27,27,27,19,27,2,27,27,13,13,...,19,13,13,13,13,26,3,0,0,27
07:15,3,3,3,1,3,0,3,3,1,1,...,1,1,1,1,1,2,0,1,1,3
07:20,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
07:30,15,15,15,12,15,4,15,15,9,9,...,12,8,8,7,7,13,4,0,0,15
07:40,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,0,0,1
07:45,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,0,0,1
07:50,4,4,4,3,4,1,4,4,2,2,...,3,2,2,2,2,4,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20:30,114,114,114,76,114,44,114,114,60,60,...,76,59,59,57,57,110,15,1,1,114
20:35,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,0,0,0,0,1
20:40,21,21,21,14,21,6,21,21,12,12,...,14,11,11,11,11,19,3,0,0,21
20:45,9,9,9,5,9,1,9,9,5,5,...,5,4,4,4,4,9,1,0,0,9
20:50,12,12,12,6,12,5,12,12,5,5,...,6,4,4,4,4,11,1,0,0,12
21:00,114,114,114,72,114,33,114,114,54,54,...,72,55,55,52,52,102,11,1,1,114
21:10,8,8,8,7,8,2,8,8,6,6,...,7,6,6,5,6,7,1,0,0,8
21:15,7,7,7,6,7,2,7,7,5,5,...,6,4,4,5,5,6,2,0,0,7
21:20,10,10,10,7,10,4,10,10,7,7,...,7,6,6,6,6,8,2,0,0,10
21:30,48,48,48,32,48,10,48,48,27,27,...,32,27,27,27,27,43,6,0,0,48
21:35,3,3,3,2,3,0,3,3,1,1,...,2,1,1,1,1,3,0,0,0,3
21:40,17,17,17,6,17,3,17,17,6,6,...,6,6,6,6,6,11,1,0,0,17
21:45,4,4,4,2,4,1,4,4,2,2,...,2,2,2,2,2,4,0,0,0,4
21:50,8,8,8,4,8,2,8,8,3,3,...,4,3,3,3,3,7,2,0,0,8
21:55,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
22:00,64,64,64,47,64,20,64,64,42,42,...,47,39,39,40,40,59,7,0,0,64
22:05,4,4,4,2,4,1,4,4,1,1,...,2,1,1,1,1,2,0,0,0,4
22:10,3,3,3,3,3,0,3,3,2,2,...,3,2,2,2,2,3,1,0,0,3
22:15,2,2,2,2,2,0,2,2,2,2,...,2,2,2,2,2,2,0,0,0,2
22:20,2,2,2,2,2,1,2,2,2,2,...,2,2,2,2,2,2,0,0,0,2
22:30,19,19,19,12,19,4,19,19,10,10,...,12,10,10,10,10,16,1,0,0,19
22:40,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
22:45,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23:00,26,26,26,13,26,7,26,26,10,10,...,13,8,8,8,8,22,1,0,0,26
23:10,2,2,2,1,2,1,2,2,0,0,...,1,0,0,0,0,1,0,0,0,2
23:15,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
23:30,9,9,9,5,9,0,9,9,5,5,...,5,4,4,3,3,5,2,0,0,9
23:35,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23:40,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,1,0,0,0,2
23:55,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1

15분 단위로 되어 있다. 만약 시간 단위로 묶으려면 어떻게 해야 할까?

## CSV 화일 만들기

작업한 dataFrame을 CSV 화일로 저장합니다.

    df.to_csv(저장위치, index=인덱스여부)

In [41]:
new_df.to_csv('data/output.csv', index=False)

# 다음으로

[이제 데이터를 수정해 봅시다](3.데이터%20수정하기.ipynb)